body{
    font-family: 'Kanit', sans-serif;
    color: #006747;
    font-weight: 600;
    background-color:#f7f7f7;

}
.btn{
    font-weight: 600;
}
#darkMode{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#lightMode{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#round{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#cancha{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#puntos{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#erase{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#lista{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
    justify-content: center;
}
#player{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
    justify-content: center;
}
#handicap{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
    justify-content: center;
}
.col-11{
    text-align: -webkit-center;
}
.form-control{
    justify-content: center;
}
/* ul{
    display:flex;
    justify-content:space-between;
    list-style-type: none;
    margin-bottom: 0.1rem;
} */
/* li::marker{
    marker: none;
} */
/* .pares{
    display:flex;
    justify-content: space-between;

} */
/* .celda{
    marker:none;
    display: table-header-group;
    height: 18pt;
    margin-bottom: 10pt;
    font-size: 8pt;
    letter-spacing: 0pt;
    line-height: 11.1pt;
} */
/* .score{
    width:5.5rem;
    display:flex;
} */
.celda-score{
    background-color:none !important;
}
.contenedorHoles{
    display:table-header-group;
    width: 100%;
}
.contenedorPares{
    display:table;
    width: 100%;
}
.contenedorScore{
    display:flex;
    width: 100%;
}

.scorecard-section{
    margin-top: 15pt;
    margin-bottom: 35pt;
}
.score-table{
    display: table;
    width: 100%;
    text-transform: uppercase;
}
.tit{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #006747;
    text-align: center;
}
.temas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;

}
.final{
    margin-top: 3rem;
    text-align: center;
}

.cancha{
    width:15rem;
}

.table{
    border-top: none;
    text-align: -webkit-center;
}