*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kanit', sans-serif;
    color: #006747;
    font-weight: 600;
    background-color:#f7f7f7;

}
.btn{
    font-weight: 600;
}
#darkMode{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#lightMode{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#round{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#cancha{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#puntos{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#erase{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
}
#lista{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
    justify-content: center;
}
#player{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
    justify-content: center;
}
#handicap{
    background-color:#f7f7f7;
    color:#006747;
    border-color:#006747;
    justify-content: center;
}
.col-11{
    text-align: -webkit-center;
}
.form-control{
    justify-content: center;
}


.contenedorHoles{
    display:table-header-group;
    width: 120%;
}

.scorecard-section{
    margin-top: 15pt;
    margin-bottom: 35pt;
}

.tit{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #006747;
    text-align: center;
}
h1{
    justify-content: center;
}
.temas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;

}
.final{
    margin-top: 3rem;
    text-align: center;
}

.cancha{
    width:15rem;
}

.table{
    border-top: none;
    text-align: -webkit-center;
}